.Pom_logo {
    font-family: 'Dancing Script', cursive;
    }

.Pom_footer_button {
    font-size:0.9rem;
}

.Pom_footer {
    text-align:center; margin-top: 2rem;
}
.Pom_header {
    text-align: center; margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
    font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.pom_header_nav {
    margin: 0 0.5rem
}

.pom_header_navbar{
    margin: 1rem 0;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 1rem;
    margin: 2rem 10%;
}
.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0 3rem;
}