.Pom_logo {
    font-family: 'Gugi', cursive;
    }

.Pom_footer_button {
    font-size: .6rem;
}

.Pom_footer {
    text-align:center; margin-top: 2rem;
}
.Pom_header {
    text-align: center; margin: 2rem 0;
}