<div class="Pom_header">
    <h1 class="Pom_logo">
        Pom
    </h1>
    <div style="" class="pom_header_navbar">
        <a href="{% url 'articleapp:list' %}" class="pom_header_nav">
            <span>메인</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="pom_header_nav">
            <span>프로젝트</span>
        </a>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{request.path}}" class="pom_header_nav">
            <span>로그인</span>
        </a>
        <a href="{% url 'accountapp:create' %}" class="pom_header_nav">
            <span>회원가입</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}" class="pom_header_nav">
            <span>프로필</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{request.path}}" class="pom_header_nav">
            <span>로그아웃</span>
        </a>
        {% endif %}
    </div>
</div>