{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

  <div>
   <div style = "text-align: center; max-width: 700px; margin: 4rem auto">
       <h1 style="margin-bottom: 1rem;">
           {{ target_article.title }}
       </h1>
       <div style="height: 2rem; margin-bottom: 1rem;" >
            <a href ="{% url 'likeapp:like' %}?article_pk={{ target_article.pk }}">
               <i class = "material-icons" style="vertical-align: middle; font-size:2.2rem; color:skyblue;">
                   sentiment_very_satisfied
               </i>
            </a>
           <span style="vertical-align: middle; font-size:1.2rem">
               {{ target_article.like }}
           </span>
           <a href ="{% url 'sosoapp:soso' %}?article_pk={{ target_article.pk }}">
               <i class = "material-icons" style="vertical-align: middle; font-size:2.2rem; color:orange;">
                   sentiment_satisfied
               </i>
           </a>
           <span style="vertical-align: middle; font-size:1.2rem">
               {{ target_article.soso }}
           </span>
           <a href ="{% url 'dislikeapp:dislike' %}?article_pk={{ target_article.pk }}">
               <i class = "material-icons" style="vertical-align: middle; font-size:2.2rem; color:coral;">
                   sentiment_very_dissatisfied
               </i>
           </a>
           <span style="vertical-align: middle; font-size:1.2rem">
               {{ target_article.dislike }}
           </span>
       </div>
       <h5>
           작성자: {{ target_article.writer.profile.nickname }}
       </h5>
       <p>
             작성일: {{ target_article.created_at }}
       </p>
       <hr>
       {% if target_article.image %}
       <img src="{{ target_article.image.url}}", alt=""
       style="text-align:center; max-width: 100%; border-radius: 1rem; margin-bottom:2rem; object-fit:cover;">
       {% else %}
           이미지가 없습니다.
       {% endif %}
       <div style="margin-bottom: 2rem; text-align: left;">
           {{ target_article.content | safe }}
       </div>
       {% if target_article.writer == request.user %}
       <a href="{% url 'articleapp:update' pk=target_article.pk %}" class='btn btn-dark rounded-pill col-3'>
           Update
       </a>
       <a href="{% url 'articleapp:delete' pk=target_article.pk %} "class='btn btn-danger rounded-pill col-3'>
           Delete
       </a>
       {% endif %}
       <hr>

       {% for comment in target_article.comment.all %}
        {% include 'commentapp/detail.html' with comment=comment %}
       {% endfor %}
       {% include 'commentapp/create.html' with article=target_article %}

   </div>
  </div>


{% endblock %}